<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart | Apple Watch</title>
    <link rel="stylesheet" href="/styles/estilos_taller2.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Open+Sans+Condensed:700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


    <div class="app">

   
        <div class="nav-fija nav-fija--blanca" id="miNav">
                        <ul class="nav-fija__bar">
                            <li class="nav-fija__icono nav-fija__icono--blanco"><i class="fab fa-apple"></i></li>
                            <li class="nav-fija__item nav-fija__item--blanco">  <a href="/" class="nav-fija__enlace nav-fija__enlace--blanco"> HOME </a></li>
                            <li class="nav-fija__item nav-fija__item--blanco">PRODUCTS</li>
                            <li class="nav-fija__item nav-fija__item--blanco">SUPPORT</li>
                            <li class="nav-fija__item nav-fija__item--blanco">ABOUT US</li>
                            <li class="nav-fija__icono nav nav-fija__icono--blanco"><a href="/carrito" class="nav-fija__enlace nav-fija__enlace--blanco"><i data-feather="shopping-bag"></i> <h2 class="nav-fija__compra">0</h2> </a> </li>
                            <li class="nav-fija__item nav-fija__item--blanco menu" > <i class="fa fa-bars"></i>
                            </li>
                            
                        </ul>
                        
                    </div>
 <article class="cont-carrito">
         <h2 class="carrito__titulo">MY BAG.</h2>

        <article class="carrito">

            <section class="carrito__productos">

               


                <div class="lista-productos">

                     
                </div>

            </section>
           
            <section class="carrito__resumen">
                <ul class="resumen__lista">
                  <p class="resumen__titulo">SUMMARY.</p>
                    <li class="resumen__item resumen__num-prod">  <p class="resumen__cantidad">2 PRODUCTS</p></li>
                    <li class="resumen__item">  <p class="resumen__subtotal">Subtotal</p> <p class="resumen__num-sub">$899</p></li>

                    <li class="resumen__item resumen__envio">  <p class="resumen__subtotal">Shipping</p> <p class="resumen__num-sub">FREE</p></li>

                    <li class="resumen__item">  <p class="resumen__total">Total</p> <p class="resumen__num-total"></p></li>

                     <button class="resumen__btn" onclick="location.href='pago/';">BUY NOW</button>

                    </ul>

                    
            </section>



        </article>
        </article>

     </div>



     <!--Archivos de javaScript -->
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="/script/script3.js"></script>
    
</body>
</html>