<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product | Apple Watch</title>
    <link rel="stylesheet" href="/styles/estilos_taller2.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Open+Sans+Condensed:700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="app">

   
 <div class="nav-fija nav-fija--blanca" id="miNav">
                <ul class="nav-fija__bar">
                    <li class="nav-fija__icono nav-fija__icono--blanco"><i class="fab fa-apple"></i></li>
                    <li class="nav-fija__item nav-fija__item--blanco">  <a href="/" class="nav-fija__enlace nav-fija__enlace--blanco"> HOME </a></li>
                    <li class="nav-fija__item nav-fija__item--blanco">PRODUCTS</li>
                    <li class="nav-fija__item nav-fija__item--blanco">SUPPORT</li>
                    <li class="nav-fija__item nav-fija__item--blanco">ABOUT US</li>
                    <li class="nav-fija__icono nav nav-fija__icono--blanco"><a href="/carrito" class="nav-fija__enlace nav-fija__enlace--blanco"><i data-feather="shopping-bag"></i> <h2 class="nav-fija__compra">0</h2> </a> </li>
                    <li class="nav-fija__item nav-fija__item--blanco menu" > <i class="fa fa-bars"></i>
                    </li>
                    
                </ul>
                
            </div>


 <article class="informacion">

     <section class="informacion__galeria">

         <div class="galeria__selector">

             <div class="galeria__miniatura" style=" background-image: url(imagenes/banner-P1.jpeg)"></div>
             <div class="galeria__miniatura" style=" background-image: url(imagenes/banner-P1.jpeg)"></div>
             <div class="galeria__miniatura" style=" background-image: url(imagenes/banner-P1.jpeg)"></div>

         </div>
          
          <div class="galeria__fotos" style=" background-image: url(imagenes/banner-P1.jpeg)">

             
          </div>


     </section>

     <section class="informacion__carac">

         <div class="carac__titulos">
                    <p class="producto__info--item producto__modelo producto__modelo--grande">SERIES 4</p>
                    <p class="producto__info--item producto__nombre producto__nombre--grande">Gold Aluminum Case with Pink Sand Sport Band</p>
                     <p class="producto__info--item producto__precio producto__precio--grande">$399</p>

            </div>

        <div class="carac__filtros">

            <div class="carac__contF">
            <div class="carac__color" style=" background-color: #FCCAE9"></div>
            <p class="carac__nombreColor">Coral</p>
            </div>

             <div class="carac__contF">
            <div class="carac__banda" style=" background-image:url(imagenes/banda_icono.png)"></div>
            <p class="carac__nombreColor">Sport</p>
            </div>
          
        </div>    
         <button class="carac__btn">ADD TO BAG  <i data-feather="shopping-bag"></i> </button>
        

     </section>


 </article>



</div>










     <!--Archivos de javaScript -->
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="script/script_taller2.js"></script>
    
</body>
</html>