$tipo-titulos:'Open Sans Condensed', sans-serif;
$tipo-texto:'Open Sans', sans-serif;
$color-blanco: white;
$color-gris: #1C1C1C;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    height: 100%;
    font-family: $tipo-texto;
    
    
}

html{
    height: 100%;
}

//-----------Estructura de margen y elementos básicos------------//

.app{
    height: auto;
    
    background-color: black;
    display: flex;
    flex-direction: column;
    
    &__encabezado{
        flex-basis: 100vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        
    }
    
    &__titulo-producto{
        font-size: 4.5em;
        margin-bottom: 0.3em;
        color: $color-blanco;
        font-family: $tipo-titulos;

        &--grande{
            font-size: 6em;
        }
    }
    
    
    &__texto-grande{
        font-size: 2em;
        margin-bottom: 1.5em;
        color:$color-blanco;
    }
    
    
    
    &__enlace{
        font-size: 2em;
        color:$color-blanco;
        text-decoration: none;
        margin-top: 2em;
        
        
        
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
        
    }
    
    
}



//-----------------Barra de navegacion-------------------//

.nav-fija{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: center;
    background-color: black;
    z-index: 100;
    
    position: fixed;
    width: 100%;
    height: 12vh;
    transition: all 1s ease 0s;
    
    
    border-bottom: 0.02em solid rgba(255, 255, 255, 0.747);
    &.solid-bar{
        background-color: $color-blanco;
        border-bottom: 2px solid #AFAFAF;
    }

    &--blanca{
        background-color: $color-blanco;
        border-bottom: 2px solid #AFAFAF;
    }
   
    
    &__bar{
        background-color: transparent;
        flex-basis: 100%;
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        align-items: center;
        
    }
    
    &__icono{
        transition: all .3s ease-in-out;
        position: relative;
        display: inline-block;
        color: $color-blanco;
        font-family: $tipo-texto;
        font-size: 2em;
        margin: 0;
        display: flex;
        align-items: center;
        
        &:hover{
            transform: scale(1.1);
        }

        &.solid-bar{
            color: $color-gris;
        }

        &--blanco{
            color: $color-gris;
        }

        
    }
    
    &__item{
        //  background-color: blueviolet;
        
        position: relative;
        display: inline-block;
        color: $color-blanco;
        font-family: $tipo-texto;
        
        &:after{
            content: '';
            display: block;
            margin: auto;
            height: 0.1em;
            width: 0px;
            background: transparent;
            transition: width .4s ease, background-color .5s ease;
        }
        
        &:hover{
            // background-color: aqua;
            cursor: pointer;
            
            
            &:after{
                width: 100%;
                background: $color-blanco;
            }
            
        }

        &.solid-bar{
            color: $color-gris;
            &:hover{
                
                &:after{
                    width: 100%;
                    background: $color-gris;
                }
                
            }
        }
        &--blanco{
            color: $color-gris;
            &:hover{
                
                &:after{
                    width: 100%;
                    background: $color-gris;
                }
                
            }
        }
    }

    &__enlace{
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;

        &:visited{
            text-decoration: none;
        color: white;
        }

        &.solid-bar{
            color: $color-gris;
        }

        &--icono{
            font-size: 3em;
        }

        &--blanco{
            color: $color-gris;
            &:visited{
                text-decoration: none;
                color: $color-gris;
            }
        }

        
    }

    &__compra{
        font-size: 0.7em;
        font-family: $tipo-titulos;
        margin-left: 0.5em;
    }
    
}

.menu{
    display: none;
}

//---------------Contenedor principal con banner--------------//

.contenedor-prin{
    //background-color: green;
    width: 100%;
    padding: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    flex-basis: 88vh;
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;

    &__arriba{
        flex-basis: 75vh;
       //background-color: red;
       display: flex;
       flex-direction: column;
       justify-content: center;
       padding-left: 6em;
       
    }

    &__abajo{
        flex-basis: 13vh;
        //background-color: red;
        display: flex;
        justify-content: center;
    }
    
    &__btn{
        font-size: 1.3em;
        padding: 1em 2em;
        width: 35vh;
        color: $color-blanco;
        background:none;
        border: 0.1em solid $color-blanco;
        transition: 0.4s;
        border-radius: .8em;
        
        &:hover,:focus{
            //box-shadow: inset 0 0 0 2em white;
            box-shadow: inset 0 -3.25em 0 0 $color-blanco;
            cursor: pointer;
            color: $color-gris;
            border-radius: 2em;
        }
    }
}

//---------------Introduccion del producto--------------//

.intro{
    // background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    padding: 2em;
    width: 80%;
    text-align: center;
    
    align-self: center;
    
    &>p{
        text-align: center;
    }
    
    &__btn{
        font-size: 1.3em;
        padding: 1em 2em;
        width: 35vh;
        color: $color-blanco;
        background:none;
        border: 0.1em solid $color-blanco;
        transition: 0.4s;
        border-radius: 2em;
        
        &:hover,:focus{
            //box-shadow: inset 0 0 0 2em white;
            box-shadow: inset 0 0 0 2em $color-blanco;
            cursor: pointer;
            color: $color-gris;
            
        }
    }
    
    
    
    
}

//---------------Imagenes que se escalan--------------//
.zoom{
    width: 100%;
    display: flex;
    //background-color: red;
    margin: 10vh 0;
    flex-basis: 50vh;
    justify-content: space-between;
    
    &:last-child{
        margin-right: 20vh;
    }
    
    &__imagen{
        transition: all .3s ease-in-out;
        width: 80vh;
        
        &:hover{
            transform: scale(1.1);
            
        }
    }
}


//---------------Conjunto de beneficios del producto--------------//

.beneficios{
    flex-basis: auto;
    //background-color: blue;
    display:flex;
    justify-content: space-around;
    margin: 7vh 0;
    
    &__cont{
        width: 70vh;
        height:70vh;
        
        
        // background-color: violet;
        overflow: hidden;
        &:hover .beneficios__cajon
        {
            transform: scale(1.05);
            cursor: pointer;
        }
    }
    &__cajon {
        width: 100%;
        height: 100%;
        //background-color: palevioletred; 
        background-position: center;
        background-size: cover;
        transition: all .5s;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
        &>p{
            margin: 0;
        }
    }
    
    
    
}

//---------------Primera publicidad del producto--------------//

.promo{
    flex-basis: 45vh;
    //background-color: green;
    width: 100%;
    display: flex;
    padding: 0 4em;
    margin: 4em 0;
    justify-content: space-between;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    
    
    &__zoom{
        //background-color: aqua;
        flex-basis: auto;
        margin-right: 20vh;
        transition: all .3s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        &:hover{
            transform: scale(1.05);
        }
        
        &2{
            //background-color: aqua;
            flex-basis: auto;
            margin-right: 20vh;
            transition: all .3s ease-in-out;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            
            &:hover{
                transform: scale(1.05);
            }
            
        }
    }
    
    &__texto{
        //background-color: red;
        flex-basis: 60%;
        
        
    }
}

//---------------Tabla de especificaciones del producto--------------//

.espe{
    //background-color: red;
    flex-basis: auto;
    overflow: hidden;
    padding: 0 4em;
    display: flex;
    margin-bottom: 2em;
    
    
    &__tabla{
        width: 50%;
        //background-color: aquamarine;
        //padding: 3em;
        margin-left: 0;
        border-spacing: 1em;
        text-align: center;
        
    }
    
    &__cont-imagen{
        // background-color: yellow;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        transition: all .3s ease-in-out;
        
        &:hover{
            transform: scale(1.05);
            
        }
    }
    
    &__titulo{
        font-size: 4.5em;
        margin-bottom: 0.3em;
        color: $color-blanco;
        margin-left: 1em;
        font-family: $tipo-titulos;
    }
    
    &__aparecer{
        opacity: 0.1;
        font-size: 2em;
        margin-bottom: 1.5em;
        color:$color-blanco;
        transition: 0.6s;
        // background-color: blue;
    }
    
    &__btn{
        font-size: 1.3em;
        padding: 0.5em 3em;
        width: 10em;
        color: $color-blanco;
        background:none;
        border: 0.1em solid $color-blanco;
        transition: 0.5s;
        text-align: center;
        
        &:hover,:focus{
            //box-shadow: inset 0 0 0 2em white;
            box-shadow: inset 0 -3em 0 0 $color-blanco;
            cursor: pointer;
            color: $color-gris;
            
        }
        
        &:hover + .espe__aparecer{
            opacity: 1;
        }
    }
}

//---------------Galeria de imagenes--------------//

.galeria {
    position: relative;
    margin: auto;
    background-attachment: fixed;
    
    
    
    &__anterior, &__siguiente {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    
    
    &__siguiente {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    
    &__anterior:hover, &__siguiente:hover {
        background-color: rgba(0,0,0,0.8);
    }
    
    
    
    &__punto {
        cursor: pointer;
        height: 0.9em;
        width: 0.9em;
        margin: 0 0.5em;
        background-color: $color-blanco;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        
        
        &.active,   &:hover {
            background-color: $color-gris;
        }
    }
    
    &__desvanecer {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }
    
    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }
}

//---------------Interaccion del producto--------------//

.interaccion{
    
    
    flex-basis: auto;
    height: auto;
    //  background-color: green;
    width: 100%;
    display: flex;
    padding: 0 4em;
    margin: 4em 0;
    
    
    &__content{
        flex-basis: 50%;
        height: auto;
        //background-color: pink;
    }
    
    &__imagen{
        flex-basis: 50%;
        height: auto;
        // background-color: crimson;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    
    
    
    &__apps{
        //  background-color: black;
        display: flex;
        padding: 1em;
    }
    
    &__btn, &__btn2{
        text-decoration: none;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        margin-right: 0.5em;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        color: $color-blanco; 
        border: 0.1em solid $color-blanco; 
        transition: all 0.5s linear 0s;
        
        &:after {
            border-radius: 50%;
            content: "";
            display: block;
            width: 90%;
            height: 90%;
            top: -110%;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
            background-color: $color-blanco;
            
        }
        
        &:hover ,&.active{
            cursor: pointer;
            
            
            &:after {
                top: 5%;
                transition: all 0.3s linear 0s;
                
            }
        }
        
        
    }
    
    &__titulo{
        font-size: 2em;
        margin: 1em 0;
        color:$color-blanco;
    }
    
    &__img-bandas{
        position: relative;
        z-index:1;
        top:0; left:0;
    }
    
    &__img-apps{
        position:absolute;
        z-index:2;
        
    }
    
}

i {
    position: relative;
    z-index: 3;
    display: inline-block;
    vertical-align: middle;
}

.sp{
    &:hover,&.active {
        color: rgb( 132, 189, 0);
        
        
        
    }
}

.tw{
    &:hover,&.active {
        color: #00aced;
        
        
        
    }
}

.td{
    &:hover,&.active {
        color: #ff5864;
        
        
        
    }
}

.col1{
    &:hover,&.active {
        color: #F1EFF3;
        
        
        
    }
}

.col2{
    &:hover,&.active {
        color: #939394;
        
        
    }
}

.col3{
    &:hover,&.active {
        color: #2D2D2D;
        
    }
}


//---------------Segunda publicidad del producto--------------//

.promo2{
    flex-basis: 45vh;
    //background-color: green;
    width: 100%;
    display: flex;
    padding: 0 4em;
    margin: 4em 0;
    justify-content: space-between;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    
    
    &__zoom{
        //background-color: aqua;
        flex-basis: auto;
        margin-right: 20vh;
        transition: all .3s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        &:hover{
            transform: scale(1.05);
        }
        
        &2{
            //background-color: aqua;
            flex-basis: auto;
            margin-right: 20vh;
            transition: all .3s ease-in-out;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            
            &:hover{
                transform: scale(1.05);
            }
            
        }
    }
    
    &__texto{
        //background-color: red;
        flex-basis: 60%;
        
        
    }
}

//---------------Newsletter--------------//

.newsletter{
    width: 70%;
    margin: 0 auto;
    flex-basis: auto;
    background-color: lighten($color-gris,5%);
    padding: 1.5em;
    z-index: 2;
    margin-bottom: -2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    
    &__texto{
        font-size: 2em;
        color:$color-blanco;
        
    }
    
    &__info{
        width: 50%;
        //   background-color: red;
        display: flex;
    }
    
    
    &__input{
        height: 4em;
        width: 30em;
        padding: 0;
        border:0;
        margin-left: 2em;
        
    }
    
    &__submit{
        
        width: 20vh;
        height: 4em;
        color: $color-blanco;
        background:$color-gris;
        border:0;
        transition: 0.4s;
        // border-radius: .8em;
        
        &:hover,:focus{
            
            box-shadow: inset 14em 0 0 0 lighten($color-gris,20%);
            cursor: pointer;
            
            
        }
    }
}

//---------------Footer de la página--------------//

.footer{
    flex-basis: auto;
    background-color: $color-gris;
    display: flex;
    flex-direction: column;
    padding: 2em; 
    
    
    
    &__redes{
        display: flex;
        justify-content: center;
        //background-color: blue;
        padding: 1em 0;
    }
    
    
    &__enlace-redes {
        text-decoration: none;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        margin-right: 0.5em;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        color: $color-blanco; 
        border: 0.1em solid $color-blanco; 
        
    }
    
    
    
    
    /* Efecto de iconos redes sociales */
    
    
    &__enlace-redes {
        transition: all 0.5s linear 0s;
        
        &:after {
            border-radius: 50%;
            content: "";
            display: block;
            width: 90%;
            height: 90%;
            top: -110%;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
            background-color: $color-blanco;
            
        }
        
        &:hover {
            color: $color-gris;
            
            
            &:after {
                top: 5%;
                transition: all 0.3s linear 0s;
            }
        }
    }
    
    &__bar{
        display: flex;
        justify-content: center;
        list-style-type: none;
        align-items: center;
        margin: 1em 0;
        //background-color: green;
        
    }
    
    &__item{
        color: $color-blanco;
        margin-right: 1.3em;
        font-size: 1.5em;
        
        &:after{
            content: '';
            display: block;
            margin: auto;
            height: 0.1em;
            width: 0px;
            background: transparent;
            transition: width .4s ease, background-color .5s ease;
        }
        
        &:hover{
            // background-color: aqua;
            cursor: pointer;
            
            
            &:after{
                width: 100%;
                background: $color-blanco;
            }
            
        }
    }
    
    
    &__bar2{
        display: flex;
        justify-content: center;
        list-style-type: none;
        align-items: center;
        //background-color: red;
        
    }
    
    &__item2{
        color: $color-blanco;
        margin-right: 1.3em;
        font-size: 0.9em;
        
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    
}

//---------------------TALLER 2---------------------//
//-------------------------------------------------//
//---------------Tienda de productos--------------//

.tienda{

    background-color: #F2F2F2;
    width: 100%;
    height: auto;
    display: flex;

    &__filtros{
        flex-basis: 15%;
       //background-color: blue;
        padding: 2em;
        padding-top: 1em;
        display: flex;
        flex-direction: column;
 
    }

    &__productos{
        flex-basis: 85%;
        //background-color: chocolate;
        display: flex;
        flex-wrap: wrap;
        padding: 3em;
    }
}

//---------------Seccion de filtros--------------//
.filtros{

    &__lista{
        list-style-type: none;

        &--colores{
            list-style-type: none;
            display: flex;
        }
      }

      &__item{
         
          padding: 0.5em;
      }

      &__titulo{
          font-family: $tipo-titulos;
          margin-top: 1.5em;
          color: #515151;
      }

      &__filtrar{
          color: #686868;
          width: 100%;
          padding: 0.3em;
          &:hover{
            cursor: pointer;
            background-color: #E5E5E5;
          }
          
      }

      &__color{
        transition: all .3s ease-in-out;
          width: 1.5em;
          height: 1.5em;
          border-radius: 50%;
          opacity: 0.6;

          &:hover{
            cursor: pointer;
          opacity: 1;
          }
         
      }

}
//---------------Contenedor de producto--------------//

.producto{
    transition: all .3s ease-in-out;
    flex-basis: 30%;
    background-color: white;
    height: 25em;
    display: flex;
    flex-direction: column;
    border: 1px solid #DBDBDB;
    margin: 1em;

    &:hover{
        box-shadow: 8px 8px 10px 0px rgba(230,230,230,1);
        cursor: pointer;
    }


    &__banner{
        flex-basis: 65%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__info{
        flex-basis: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1.3em;
        //background-color: red;

        &--item{
            margin: 0.2em 0;
        }
    }

    &__modelo{
        color: #B1B1B2;
        font-size: 0.9em;
    }

    &__nombre{
        color: #686868;
    }

    &__precio{
        color: #515151;
        font-family: $tipo-titulos;
        font-size: 2em;
    }

}

//---------------Pagina de producto individual--------------//

.informacion{
    height: 88vh;
    margin-top: 12vh;
    background-color: #F2F2F2;
    display: flex;
    padding: 2em;

    &__galeria{
        flex-basis: 50%;
        width: 50%;
        background-color: red;
        height: 100%;
        display: flex;
    }

    &__carac{
        flex-basis: 50%;
        width: 50%;
        background-color: blue;
        height: 100%;
    }
}

.galeria{

    &__selector{
        flex-basis: 25%;
        background-color: pink;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__miniatura{
        flex-basis: 25%;
        background-color: #2D2D2D;
    }

    &__fotos{
        flex-basis: 75%;
        background-color: white;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        
    }

    
}

//-----------------------------------------------------//


//---------------Responsive de la página--------------//

@media (max-width:450px){
    .app{
        //  background-color: red;
        
        
        &__encabezado{
            
            background-image: url(/imagenes/banner-responsive.png);
            background-position: bottom;
            background-size: 45%;
            background-repeat: no-repeat;
            
        }
        
        &__titulo-producto{
            font-size: 2.5em;
            
        }
        
        
        &__texto-grande{
            font-size: 1em;
            
        }
        
        &__enlace{
            font-size: 0.8em;
            
        }
        
        
    }

//-----------------RES-Barra de navegacion-------------------//

.nav-fija{
    padding: 0 2em;
    
    &__bar{
      
        justify-content: space-between;
        
    }
    
   
    &__item{
        display: none;
    }


    
}

.nav-fija.responsive {
  position: relative;
   }
.nav-fija.responsive .menu {
  
 }
 .nav-fija.responsive .nav-fija__item {
  display: block;
  margin-bottom: 0.5em;
 //background-color: red;
 
 }
 .nav-fija.responsive .nav-fija__bar{
  
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
  }

.menu{
    display: block;
}



    
    //---------------RES-Contenedor principal con banner--------------//
    
    .contenedor-prin{
        // background-color: green;
        width: 100%;
        
        flex-basis: 40vh;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        &__btn{
            font-size: 0.8em;
            width: 20vh;
        }
    }
    
    
    //---------------RES-Introduccion del producto--------------//
    
    .intro{
        // background-color: red;
        padding: 1em;
        width: 80%;
        
        &__btn{
            font-size: 0.8em;
            width: 20vh;
        }
        
        
        
        
    }
    
    //---------------RES-Imagenes que se escalan--------------//
    .zoom{
        width: 100%;
        display: flex;
        flex-direction: column;
        //background-color: red;
        margin: 1vh 0;
        flex-basis: 60vh;
        justify-content: center;
        align-items: center;
        
        
        &:last-child{
            margin-right: 0;
            
        }
        
        &__imagen{
            
            width: 40vh;
            
            
            &:first-of-type{
                // background-color: blue;
                align-self: flex-start;
                width: 100%;
            }
        }
    }
    
    
    
    //---------------RES-Conjunto de beneficios del producto--------------//
    
    .beneficios{
        flex-basis: auto;
        //background-color: blue;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        margin:0;
        
        &__cont{
            width: 100%;
            height:50vh;
            margin: 2vh 0;
            
        }
        
    }
    
    //---------------RES-Primera publicidad del producto--------------//
    
    .promo{
        
        padding: 0;
        background-image: none !important;
        margin: 1.5em 0;
        
        
        &__zoom{
            // background-color: aqua;
            margin-right: 1em;

            
            
        }
        
        &__texto{
           //background-color: red;
            flex-basis: 45%;
            padding: 2em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            
        }

        &__imagen{
          //  background-color: red;
            width: 35vh;
            margin-left: -1em;
        }
    }
    
    //---------------RES-Tabla de especificaciones del producto--------------//
    
    .espe{
        // background-color: red;
        flex-basis:auto;
        overflow: hidden;
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        margin-bottom: 4em;
        
        
        
        &__tabla{
            width: 100%;
            // background-color: aquamarine;
            //padding: 3em;
            margin-left: 0;
            border-spacing: 1em;
            text-align: center;
            
        }
        
        &__cont-imagen{
            
            // background-color: yellow;
            width: 100%;
            margin-top: 1em;
            margin-bottom: 0;
        }
        
        &__imagen{
            width: 30vh;
        }
        
        &__titulo{
            font-size: 2em;
        }
        
        &__aparecer{
            font-size: 1em;
        }
        
        &__btn{
            font-size: 0.8em;
            width: 1em ;
            border: 0.15em solid $color-blanco;
            transition: 0.7s;
            
            &:hover,:focus{
                box-shadow: inset 0 -4em 0 0 $color-blanco;  
            }
        }
    }
    
    //---------------RES-Galeria de fotos--------------//
    
    .galeria{
        
        
        &__punto {
            
            height: 0.7em;
            width: 0.7em;
            margin: 0 0.3em;
        }
    }
    


//---------------RES-Interaccion del producto--------------//

.interaccion{
    
    padding: 0 4em;
    margin: 1em 0;
    flex-direction: column;
    
    &__apps{
        padding: 0.9em;
    }
    
    &__btn, &__btn2{
        
        width: 2.3em;
        height: 2.3em;
        
        
    }
    
    &__titulo{
        font-size: 1em;
        margin: 1em 0;
        
    }
    
    
}

//---------------RES-Segunda publicidad del producto--------------//

.promo2{
    
    &__zoom{
       
        display: none;
      
        
        &2{
           
            justify-content: center;
            
        }
    }
    
}


//---------------RES-Newsletter--------------//

.newsletter{
    width: 80%;
    flex-basis: auto;
    height: auto;
    padding:0em;
    margin-bottom: -2em;
    display: flex;
    
    flex-direction: column;
    
    
    
    &__texto{
        font-size: 1em;
       padding: 0.5em 0;
     //  background-color: blue;
        
    }
    
    &__info{
        width: 80%;
      // background-color: red;
        display: flex;
        padding: 0.8em 0;
    }
    
    
    &__input{
        height: 2.5em;
        width: 30em;
        margin-left: 0;
        
    }
    
    &__submit{
        
        width: 20vh;
        height: 2.5em;
        
        &:hover,:focus{
            
            box-shadow: inset 8em 0 0 0 lighten($color-gris,20%);
            cursor: pointer;
            
            
        }
    }
}

//---------------RES-Footer de la página--------------//

.footer{
    padding: 2em; 
    
    
    
    &__redes{
        display: flex;
        justify-content: center;
       // background-color: blue;
        padding: 1em 0;
    }
    
    
    &__enlace-redes {
     
        width: 2em;
        height: 2em;
        font-size: 1.3em;
        
    }
    
    
    
    &__bar{
        display: flex;
        justify-content: center;
        list-style-type: none;
        align-items: center;
        margin: 0;
        flex-direction: column;
      //  background-color: green;
        
    }
    
    &__item{
        margin-right: 0em;
        margin-bottom: 0.7em;
        font-size: 1em;
        
        
    }
    
    
    &__bar2{
        display: flex;
        justify-content: center;
        list-style-type: none;
        align-items: center;
        //background-color: red;
        
    }
    
    &__item2{
        color: $color-blanco;
        margin-right: 1.2em;
        font-size: 0.7em;
        padding: 0.5em 0;
    }
    
}

}